<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Список книг</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<h1>Список книг</h1>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>Название</th>
            <th>Жанр</th>
            <th>Авторы</th>
            <th>Инструменты</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td><a href="./bookUpdate.html" th:href="@{/update(id=${book.id})}" th:text="${book.name}" >Горе о туман</a></td>
            <td th:text="${book.genre.name}">Слово</td>
            <td th:text="${book.authorsAsString}">Пушкин</td>
            <td>
                <a href="./bookUpdate.html" th:href="@{/update(id=${book.id})}" ><button type="button" class="btn btn-primary">Редактировать</button></a>
                <a href="/" th:href="@{/delete(id=${book.id})}"><button type="button" class="btn btn-danger">Удалить</button></a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/bookCreate.html" th:href="@{/create}"><button type="button" class="btn btn-success">Создать</button></a>
</div>
</body>
</html>