<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${book.name}">Название книги</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <div class="col-md-12">
        <h4 th:text="${book.name}">Название книги</h4>
        <form class="needs-validation" novalidate method="POST" th:action="@{/update}">

            <input type="hidden" th:value="${book.id}" name="id" />

            <div>
                <label for="name">Название</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Название книги" required
                       th:value="${book.name}">
            </div>

            <div>
                <label for="genre">Жанр</label>
                <input type="text" class="form-control" id="genre" name="genre" placeholder="Жанр" required
                       th:value="${book.genre.name}">
            </div>

            <div>
                <label for="authors">Название</label>
                <input type="text" class="form-control" id="authors" name="authors" placeholder="Пушкин, Лермонтов, Толстой" required
                       th:value="${book.authorsAsString}">
            </div>

            <div>
                <button class="btn btn-primary btn-lg float-lg-right" type="submit">Сохранить</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>